<!DOCTYPE html>
<html>

<head>
    <title>Food Menu</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>

<body>
    <main>
        <section id="salads">
            <div class="food-item">
                <a href="#">
                    <img src="https://jumanji.uz/images/product/189.jpg?1505812906" alt="salad">
                    <h2>Salads</h2>
                </a>
            </div>
            <!-- add more food items here -->
        </section>
        <section id="soups">
            <div class="food-item">
                <a href="#">
                    <img src="https://jumanji.uz/images/product/189.jpg?1505812906" alt="soup">
                    <h2>Soups</h2>
                </a>
            </div>
            <!-- add more food items here -->
        </section>
        <section id="meaty-foods">
            <div class="food-item">
                <a href="#">
                    <img src="https://jumanji.uz/images/product/189.jpg?1505812906" alt="meaty food">
                    <h2>Meaty Foods</h2>
                </a>
            </div>
            <!-- add more food items here -->
        </section>
        <section id="green-foods">
            <div class="food-item">
                <a href="#">
                    <img src="https://jumanji.uz/images/product/189.jpg?1505812906" alt="green food">
                    <h2>Green Foods</h2>
                </a>
            </div>
            <!-- add more food items here -->
        </section>
    </main>

    <div class="product-list">
        <!-- Add more product items here -->
        <div class="product-item">
            <div class="product-image">
                <img src="https://jumanji.uz/images/product/189.jpg?1505812906" alt="Product image">
            </div>
            <div class="product-info">
                <h3 class="product-name">Product Name</h3>
                <p class="product-description">Product Description</p>
                <p class="product-price">$10.00</p>
            </div>
            <div class="add-to-cart">
                <i class="material-icons">shopping_cart</i>
            </div>
        </div>
        <!-- Add more product items here -->
        <div class="product-item">
            <div class="product-image">
                <img src="https://jumanji.uz/images/product/189.jpg?1505812906" alt="Product image">
            </div>
            <div class="product-info">
                <h3 class="product-name">Product Name</h3>
                <p class="product-description">Product Description</p>
                <p class="product-price">$10.00</p>
            </div>
            <div class="add-to-cart">
                <i class="material-icons">shopping_cart</i>
            </div>
        </div>
        <!-- Add more product items here -->
        <div class="product-item">
            <div class="product-image">
                <img src="https://jumanji.uz/images/product/189.jpg?1505812906" alt="Product image">
            </div>
            <div class="product-info">
                <h3 class="product-name">Product Name</h3>
                <p class="product-description">Product Description</p>
                <p class="product-price">$10.00</p>
            </div>
            <div class="add-to-cart">
                <i class="material-icons">shopping_cart</i>
            </div>
        </div>
        <!-- Add more product items here -->
        <div class="product-item">
            <div class="product-image">
                <img src="https://jumanji.uz/images/product/189.jpg?1505812906" alt="Product image">
            </div>
            <div class="product-info">
                <h3 class="product-name">Product Name</h3>
                <p class="product-description">Product Description</p>
                <p class="product-price">$10.00</p>
            </div>
            <div class="add-to-cart">
                <i class="material-icons">shopping_cart</i>
            </div>
        </div>
    </div>


</body>

</html>